<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.chenshop.common.mapper.search.ItemMapper" >
    <select id="getItemList" resultType="com.clt.chenshop.common.pojo.search.Item">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.name category_name
        FROM
        tb_item a
        LEFT JOIN tb_item_cat b
        ON b.id = a.cid
        LEFT JOIN tb_item_desc c
        ON a.id = c.item_id
    </select>
</mapper>