<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询商品</title>
    <th:block th:include="/includes/head"></th:block>
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-body table-responsive no-padding">
                    <table id="contentTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>商品标题</th>
                            <th>商品卖点</th>
                            <th>商品价格</th>
                            <th>库存数量</th>
                            <th>所属类目</th>
                            <th>商品状态</th>
                            <th>更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<th:block th:include="/includes/foot"></th:block>
<script src="/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="/plugins/custom.js"></script>
<script>
    $('#contentTable').DataTable({
        "bPaginate": true, // 分页工具条显示
        "sPaginationType": "full_numbers", // 分页工具条样式
        "bStateSave": true, // 是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
        "bScrollCollapse": true, // 当显示的数据不足以支撑表格的默认的高度
        "bLengthChange": false, // 每页显示的记录数
        "bFilter": false, // 搜索栏
        "bSort": false, // 是否支持排序功能
        "bInfo": true, // 显示表格信息
        "bAutoWidth": true, // 自适应宽度
        "bJQueryUI": false,// 是否开启主题
        "bDestroy": true,
        "bProcessing": true, // 开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
        "bServerSide": true,// 服务器处理分页，默认是false，需要服务器处理，必须true
        "sAjaxDataProp": "aData", // 是服务器分页的标志，必须有
        "sAjaxSource": "/item/getTableData", // 通过ajax实现分页的url路径。
        "aoColumns": [ // 初始化要显示的列
        {
            "mDataProp": "id", // 获取列数据，跟服务器返回字段一致
            "sClass": "center" // 显示样式
        }, {
            "mDataProp": "title"
        }, {
            "mDataProp": "sellPoint"
        }, {
            "mDataProp": "price",
            "mRender": function (data, type, full) { // 返回自定义的样式
                return Number(data / 100).toFixed(2);
            }
        }, {
            "mDataProp": "num"
        }, {
            "mDataProp": "cid"
        }, {
            "mDataProp": "status",
            "mRender": function (data, type, full) {
                var status = "";
                if (data == 1) {
                    status = "正常";
                } else if (data == 2) {
                    status = "下架";
                } else if (data == 3) {
                    status = "删除";
                }
                return status;
            }
        }, {
            "mDataProp": "updated",
            "mRender": function (data, type, full) {
                return Custom.formatDateTime(data);
            }
        }],
        "oLanguage": { // 汉化
        "sUrl": "/bower_components/datatables.net-bs/language.json"
        }
    });
</script>
</body>
</html>